<%- include('../includes/head.ejs') %>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <%if (errorMessage != "") { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="my-4 w-25 mx-auto" action="reset" method="POST">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" id="email" >
            
            <input type="hidden" value="<%= token %>" name="_csrf">
            <button class="mt-1 btn btn-primary" type="submit">Reset Password</button>
        </form>
    </main>
<%- include('../includes/end.ejs') %>