<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <div class="container-fluid">
        <%if (isAuth) {%>
          <a class="navbar-brand" href="/"><%= usName%></a>
        <% } else {%>
          <a class="navbar-brand" href="/">Ecommerce App</a>
        <% } %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
          aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link <%= path === '/' ? 'active' : '' %>" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link <%= path === '/products' ? 'active' : '' %>" aria-current="page"
                href="/products">Products</a>
            </li>
            <%if (isAuth) {%>
              <li class="nav-item">
                <a class="nav-link <%= path === '/cart' ? 'active' : '' %>" aria-current="page"
                  href="/cart">Cart</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= path === '/orders' ? 'active' : '' %>" aria-current="page"
                  href="/orders">Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= path === '/admin/add-product' ? 'active' : '' %>" aria-current="page"
                  href="/admin/add-product">Add Product</a>
              </li>
              <li class="nav-item">
                <a class="nav-link <%= path === '/admin/products' ? 'active' : '' %>" aria-current="page"
                  href="/admin/products">Admin Products</a>
              </li>
              <% } %>
          </ul>
          <%if (!isAuth) {%>
            <li class="d-flex">
              <a class="btn btn-outline-success <%= path === '/login' ? 'active' : '' %>" href="/login">Login</a>
            </li>
            <li class="d-flex">
              <a class="btn btn-outline-success <%= path === '/signup' ? 'active' : '' %>" href="/signup">Signup</a>
            </li>
          <% } else {%>
            <form class="d-flex" action="/logout" method="POST">
              <input type="hidden" value="<%= token %>" name="_csrf">
              <button class="btn btn-outline-success" type="submit">Logout</button>
            </form>
          <% } %>
        </div>
      </div>
    </nav>
  </header>