<%- include('../includes/head.ejs') %>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <div class="container mt-1">
                    <% if (prods.length > 0) { %>
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g3 mt-4">
                            <% for (let product of prods) { %>
                                <div class="col">
                                    <div class="card bg-light border-secondary my-2">
                                        <div class="card-header">
                                            <h2><%= product.title %></h2>
                                        </div>
                                        <img class="card-img" src="<%= product.imageUrl %>" alt="<%= product.title %>">
                                        
                                        <div class="card-body">
                                            <h2 class="text-center">$<%= product.price %></h2>
                                            <p ><%= product.description %></p>
                                        </div>
                                        <div class="card-footer">
                                            <div class="container">
                                                <div class="row">
                                                    <div class= "col-sm text-center">
                                                        <a href="/products/<%= product._id %>" class="btn btn-primary">Details</a>
                                                    </div>
                                                    <div class= "col-sm text-center">
                                                        <%if (isAuth) {%>
                                                            <%- include('../includes/add-to-cart.ejs',{product:product}) %>
                                                        <% } %>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    <% } else { %>
                        <h1>No Products Found!</h1>
                    <% } %>
                </div>
            </main>
            <%- include('../includes/end.ejs') %>